body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 18px;
}

.navbar {
    background-color: silver;
}

p {
    font-size: 24px;
}

.head {
    font-family: 'Rock Salt', cursive;
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
}

.main {
    width: 100%;
    margin-top: 50px;
}

#game-search-box {
    width: 250px;
    margin-right: 5px;
}

.card-header {
    font-size: 21px;
}

.navbar {
    height: 50px;
}

.container-fluid {
    height: 300px;
    text-align: center;
    padding: 50px 0;
    color: white;
    background-image: url("../images/newWallpaper.png");
    margin-bottom: 20px;
}

.title {
    font-size: 80px;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 30px;
    margin-top: 30px;  
}

.subTitle {
    font-family: 'Rock Salt', cursive;
}

.navbar-brand {
    font-size: 21px;
    margin-left: 50px;
    font-family: 'Rock Salt', cursive;
    color: black;
}

.nav-link {
    color: black;
}

a {
    color: white;
    font-size: 24px;
}

a.nav-link:hover {
    background-color: black;
    color: white;
    
    
}

.card-header {
    color: black;
}

.login {
    margin-right: 50px;
}

.link {
    margin-top: 20px;
    margin-right: 60px;
    font-size: 21px;
}

.nav-link {
    color: black;
}

#poster{
    height:300px;
}
/* IVER */
#link{ 
    margin-right: 15px;
    margin-left: 15px;
    color: black;
}


#link:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}
/* IVER */

.info {
    color: white;
}


#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
}

#login-div{
    color:white;
}

#fav-games-div{
    color:white;
}



#link:hover {
    background-color: gray;
    color: white;
}

#poster {
    max-width: 350px;
}

.reviews {
    color: white;
}

/*Tyler*/
#popular{
    color: white;
    margin-top: 100px;
    margin-bottom: 40px;
    text-decoration: underline;
    font-family: 'Rock Salt', cursive;
}
.picture{
    height:200px;
    width: 200px;
    margin: 5px; 
    margin-left: 20px;
}

    #zelda{
    color: white;
    font-size: 20px;
    
}
    #red-dead{
    color: white;
    font-size: 20px;
}
    #gta{
    color: white;
    font-size: 20px;
}
    #mario{
    color: white;
    font-size: 20px;
}
    #witcher-3{
    color: white;
    font-size: 20px;
}
    #sleeping-dogs{
    color: white;
    font-size: 20px;
}

#description {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#description1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    color: black;
}

li {
    display: liste-item;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

div.NFG-footer {
    background: silver;
}


/* IVER */


